<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">
					
							{% capture portfolio %}
								{% include_relative_posts/2000-01-01-portfolio.md %}
							{% endcapture %}
							{{ portfolio | markdownify }}
						
							<div class="row">
								<div class="4u">
									<article class="item">
										<a href="#" class="image fit">
											<img src="images/pic02.jpg" alt="" /></a>
										<header>
											<h3>Ipsum Feugiat</h3>
										</header>
									</article>
								</div>
								<div class="4u">
									<article class="item">
										<a href="#" class="image fit">
											<img src="images/pic04.jpg" alt="" /></a>
										<header>
											<h3>Magna Nullam</h3>
										</header>
									</article>
								</div>
								<div class="4u">
									<article class="item">
										<a href="#" class="image fit">
											<img src="images/pic06.jpg" alt="" /></a>
										<header>
											<h3>Dolor Penatibus</h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>
